/Duck/build/
/Duck/nbproject/private/
/PruebasThreads/target/
/PruebasThread/nbproject/private/
/PruebasThread/build/
/2048/nbproject/private/
/2048/build/
/editorDeImagenes/target/
/Editor/gradleproject1/.gradle/
/ImageEditor/nbproject/private/
/ImageEditor/build/
/Acceso_Ficheros/nbproject/private/
/Acceso_Ficheros/build/
/Practica_Sockets/nbproject/private/
/Practica_Sockets/build/